<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <inchoo_socialconnect_pixelpin>
                <enabled>1</enabled>
            </inchoo_socialconnect_pixelpin>
        </customer>
    </default>
</config>
